@model PictureModel

<div class="d-flex flex-column justify-content-center align-items-center vh-85">
    <div class="card w-75 br-0 p-3">

        <form id="upload" name="upload" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2 class="text-center mb-3"> Upload a new picture!</h2>

            <div class="mb-3">
                <input asp-for="Caption" class="form-control form-control" type="text" placeholder="caption" name="caption">
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="formFile" accept="image/*">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Upload</button>
            </div>

        </form>

    </div>
</div>